pkgbase = aldo
	pkgdesc = Work Hours Tracker and Invoice Generator for Freelancers
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/yourusername/aldo
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-click
	depends = python-reportlab
	depends = python-appdirs
	source = aldo-1.0.0.tar.gz
	sha256sums = SKIP

pkgname = aldo