{% extends 'base.html' %}

{% block title %}Settings - Aldo{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">Settings</h2>
            </div>
            <div class="card-body">
                <form method="post" action="{{ url_for('settings') }}">
                    <ul class="nav nav-tabs mb-4" id="settingsTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="business-tab" data-bs-toggle="tab" data-bs-target="#business" type="button" role="tab" aria-controls="business" aria-selected="true">Business</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="client-tab" data-bs-toggle="tab" data-bs-target="#client" type="button" role="tab" aria-controls="client" aria-selected="false">Client</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="payment-tab" data-bs-toggle="tab" data-bs-target="#payment" type="button" role="tab" aria-controls="payment" aria-selected="false">Payment</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="invoice-tab" data-bs-toggle="tab" data-bs-target="#invoice" type="button" role="tab" aria-controls="invoice" aria-selected="false">Invoice</button>
                        </li>
                    </ul>
                    
                    <div class="tab-content" id="settingsTabContent">
                        <!-- Business Information -->
                        <div class="tab-pane fade show active" id="business" role="tabpanel" aria-labelledby="business-tab">
                            <h3>Business Information</h3>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="business_name" class="form-label">Business Name</label>
                                    <input type="text" class="form-control" id="business_name" name="business_name" value="{{ config.business.name }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="business_address" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="business_address" name="business_address" value="{{ config.business.address }}">
                                </div>
                                <div class="col-md-4">
                                    <label for="business_city" class="form-label">City</label>
                                    <input type="text" class="form-control" id="business_city" name="business_city" value="{{ config.business.city }}">
                                </div>
                                <div class="col-md-4">
                                    <label for="business_state" class="form-label">State/Province</label>
                                    <input type="text" class="form-control" id="business_state" name="business_state" value="{{ config.business.state }}">
                                </div>
                                <div class="col-md-4">
                                    <label for="business_zip" class="form-label">Zip/Postal Code</label>
                                    <input type="text" class="form-control" id="business_zip" name="business_zip" value="{{ config.business.zip }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="business_country" class="form-label">Country</label>
                                    <input type="text" class="form-control" id="business_country" name="business_country" value="{{ config.business.country }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="business_phone" class="form-label">Phone</label>
                                    <input type="text" class="form-control" id="business_phone" name="business_phone" value="{{ config.business.phone }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="business_email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="business_email" name="business_email" value="{{ config.business.email }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="business_website" class="form-label">Website</label>
                                    <input type="text" class="form-control" id="business_website" name="business_website" value="{{ config.business.website }}">
                                </div>
                                <div class="col-md-12">
                                    <label for="business_tax_id" class="form-label">Tax ID / VAT Number</label>
                                    <input type="text" class="form-control" id="business_tax_id" name="business_tax_id" value="{{ config.business.tax_id }}">
                                </div>
                            </div>
                        </div>
                        
                        <!-- Client Information -->
                        <div class="tab-pane fade" id="client" role="tabpanel" aria-labelledby="client-tab">
                            <h3>Client Information</h3>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="client_name" class="form-label">Client Name</label>
                                    <input type="text" class="form-control" id="client_name" name="client_name" value="{{ config.client.name }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="client_address" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="client_address" name="client_address" value="{{ config.client.address }}">
                                </div>
                                <div class="col-md-4">
                                    <label for="client_city" class="form-label">City</label>
                                    <input type="text" class="form-control" id="client_city" name="client_city" value="{{ config.client.city }}">
                                </div>
                                <div class="col-md-4">
                                    <label for="client_state" class="form-label">State/Province</label>
                                    <input type="text" class="form-control" id="client_state" name="client_state" value="{{ config.client.state }}">
                                </div>
                                <div class="col-md-4">
                                    <label for="client_zip" class="form-label">Zip/Postal Code</label>
                                    <input type="text" class="form-control" id="client_zip" name="client_zip" value="{{ config.client.zip }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="client_country" class="form-label">Country</label>
                                    <input type="text" class="form-control" id="client_country" name="client_country" value="{{ config.client.country }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="client_contact_person" class="form-label">Contact Person</label>
                                    <input type="text" class="form-control" id="client_contact_person" name="client_contact_person" value="{{ config.client.contact_person }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="client_email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="client_email" name="client_email" value="{{ config.client.email }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="client_phone" class="form-label">Phone</label>
                                    <input type="text" class="form-control" id="client_phone" name="client_phone" value="{{ config.client.phone }}">
                                </div>
                            </div>
                        </div>
                        
                        <!-- Payment Information -->
                        <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                            <h3>Payment Information</h3>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="payment_bank_name" class="form-label">Bank Name</label>
                                    <input type="text" class="form-control" id="payment_bank_name" name="payment_bank_name" value="{{ config.payment.bank_name }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="payment_account_name" class="form-label">Account Name</label>
                                    <input type="text" class="form-control" id="payment_account_name" name="payment_account_name" value="{{ config.payment.account_name }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="payment_account_number" class="form-label">Account Number</label>
                                    <input type="text" class="form-control" id="payment_account_number" name="payment_account_number" value="{{ config.payment.account_number }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="payment_routing_number" class="form-label">Routing Number</label>
                                    <input type="text" class="form-control" id="payment_routing_number" name="payment_routing_number" value="{{ config.payment.routing_number }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="payment_iban" class="form-label">IBAN</label>
                                    <input type="text" class="form-control" id="payment_iban" name="payment_iban" value="{{ config.payment.iban }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="payment_swift" class="form-label">SWIFT/BIC</label>
                                    <input type="text" class="form-control" id="payment_swift" name="payment_swift" value="{{ config.payment.swift }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="payment_terms" class="form-label">Payment Terms</label>
                                    <input type="text" class="form-control" id="payment_terms" name="payment_terms" value="{{ config.payment.payment_terms }}">
                                </div>
                                <div class="col-md-3">
                                    <label for="payment_currency" class="form-label">Currency</label>
                                    <input type="text" class="form-control" id="payment_currency" name="payment_currency" value="{{ config.payment.currency }}">
                                </div>
                                <div class="col-md-3">
                                    <label for="payment_hourly_rate" class="form-label">Hourly Rate</label>
                                    <input type="number" class="form-control" id="payment_hourly_rate" name="payment_hourly_rate" step="0.01" min="0" value="{{ config.payment.hourly_rate }}">
                                </div>
                            </div>
                        </div>
                        
                        <!-- Invoice Settings -->
                        <div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
                            <h3>Invoice Settings</h3>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="invoice_prefix" class="form-label">Invoice Number Prefix</label>
                                    <input type="text" class="form-control" id="invoice_prefix" name="invoice_prefix" value="{{ config.invoice.prefix }}">
                                </div>
                                <div class="col-md-6">
                                    <label for="invoice_next_number" class="form-label">Next Invoice Number</label>
                                    <input type="number" class="form-control" id="invoice_next_number" name="invoice_next_number" min="1" value="{{ config.invoice.next_number }}">
                                </div>
                                <div class="col-md-12">
                                    <label for="invoice_footer_text" class="form-label">Invoice Footer Text</label>
                                    <textarea class="form-control" id="invoice_footer_text" name="invoice_footer_text" rows="2">{{ config.invoice.footer_text }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Save Settings</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}